<button (click)="handleClick()" >Click</button>

<!-- old way -->
<h2 *ngIf="Isloggedin; else message"> {{ username }} </h2>

<ng-template #message>
    <h4>User is not logged in template</h4>
</ng-template>

<h4 *ngIf="!Isloggedin">User is not logged in</h4>



<!-- new way -->
@if (Isloggedin) {
    <h2>{{ username }}</h2>
} 
@else {
    <h4>User is not logged in</h4>
} 

@if (!Isloggedin) {
    <h4>User is not logged in</h4>
} 

------------------------------------------

<!-- multiple conditions -->

<h4 *ngIf="isAdmin">Welcome Admin</h4>

<h4 *ngIf="isMember">Welcome Member</h4>

<h4 *ngIf="isGuest">Welcome Guest</h4>

<!-- ng if and else approach -->

<h4 *ngIf="isAdmin; else memberMessage">Welcome Admin</h4>

<ng-template #memberMessage>
    <h4 *ngIf="isMember;else guestMessage">Welcome Member</h4>
</ng-template>

<ng-template #guestMessage>
    <h4 *ngIf="isGuest">Welcome Guest</h4>
</ng-template>

<!-- @if an @else syntax approach  -->

@if (isAdmin) {
    <h4>Welcome Admin</h4>
}@else if (isMember) {
    <h4>Welcome Member</h4>
}@else if (isGuest) {
    <h4>Welcome Guest</h4>
}