<button (click)="handleClick()" >Click</button>

<!-- old way -->
<h2 *ngIf="Isloggedin; else message"> {{ username }} </h2>

<ng-template #message>
    <h4>User is not logged in template</h4>
</ng-template>

<h4 *ngIf="!Isloggedin">User is not logged in</h4>



<!-- new way -->
@if (Isloggedin) {
    <h2>{{ username }}</h2>
} 
@else {
    <h4>User is not logged in</h4>
} 

@if (!Isloggedin) {
    <h4>User is not logged in</h4>
} 

------------------------------------------

<!-- multiple conditions -->

<h4 *ngIf="isAdmin">Welcome Admin</h4>

<h4 *ngIf="isMember">Welcome Member</h4>

<h4 *ngIf="isGuest">Welcome Guest</h4>

<!-- ng if and else approach -->

<h4 *ngIf="isAdmin; else memberMessage">Welcome Admin</h4>

<ng-template #memberMessage>
    <h4 *ngIf="isMember;else guestMessage">Welcome Member</h4>
</ng-template>

<ng-template #guestMessage>
    <h4 *ngIf="isGuest">Welcome Guest</h4>
</ng-template>

<!-- @if an @else syntax approach  -->

@if (isAdmin) {
    <h4>Welcome Admin</h4>
}@else if (isMember) {
    <h4>Welcome Member</h4>
}@else if (isGuest) {
    <h4>Welcome Guest</h4>
}

------------------------------------------ <hr>

<!-- if directive with number Values -->

   <button (click)="countLoginAttempts()" *ngIf="loginCount < 3 ">Log In</button>

   <h4 *ngIf="loginCount >= 3">Exceeded 3 login Attempts, Try Again Later</h4>

------------------------------------------ <hr>

@if (loginCount < 3) {
    <button (click)="countLoginAttempts()">Log In Syntax</button>
}
@if (loginCount >= 3) {
    <h4>Exceeded 3 login Attempts, Try Again Later</h4>
}

------------------------------------------ <hr>

<!-- if directives with string values -->

<h4 *ngIf="userRole == 'Admin'; else RoleMessage ">Welcome Admin</h4>

<ng-template #RoleMessage>
    <h4 *ngIf="userRole == 'Member' ">Welcome Member</h4>
</ng-template>

<!-- --------new syntax--------- -->

@if (userRole == 'Admin') {
    <h4>Welcome Member</h4>
} @else if (userRole == 'Member') {
    <h4>Welcome Member</h4>
}

------------------------------------------ <hr>
<!-- ng-template -->
<h4 *ngIf="userRole == 'Admin'; else dynamicTemplate ">Welcome Admin</h4>

<ng-template #dynamicTemplate>
    <p>This content is inside ng-template </p>
</ng-template>

------------------------------------------ <hr>

<!-- ngTemplateOutlet -->

    <ng-template #callToAction>
        <p>Call call To Action</p>
        <button>Join Now</button>
    </ng-template>

        <div [ngTemplateOutlet]="callToAction">
            <h5>Sidebar</h5>
        </div>
        <div [ngTemplateOutlet]="callToAction">
            <h5>Hero</h5>
        </div>
        <div [ngTemplateOutlet]="callToAction">
            <h5>Footer</h5>
        </div>

------------------------------------------ <hr>

<!-- ng for Directive  -->

<ul>
    <li *ngFor="let item of items; let i = index">{{ item }} - {{ i }}</li>
</ul>

<hr>

<h3>{{ users }}</h3>

<hr>

<h3>{{ users[0] }}</h3>
<h3>{{ users[1] }}</h3>
<h3>{{ users[2] }}</h3>
<h3>{{ users[3] }}</h3>

<hr>

<h3 *ngFor="let user of users">
    {{ user }}
</h3>

<hr>

 <p>new for syntax approach </p>

@for (user of users; track user) {
    <h3>{{ user }}</h3>
}

<hr>

<p>new for syntax approach with index</p>

@for (item of items; track $index) {
    <h3>{{ item }} - {{ $index }}</h3>
}

<hr>

<p>old syntax</p>
<p>Fetch in order List</p>

<ul>
    <li  *ngFor="let user of users">{{ user }}</li>
</ul>

<hr>

<p>new syntax</p>
<p>Fetch in order List</p>

    <ul>
        @for(user of users; track user) {
            <li>{{ user }}</li>
        }
    </ul>


------------------------------------------ <hr>

<!-- ngFor with Objects user  Fetch Array Object -->

<ul>
    <p>old Syntax</p>
    <li *ngFor="let user of usersObj">
        {{ user.id }} - {{user.name}} -{{ user.age }} - {{ user.email }}
        <button (click)="onDelete(user)">Delete</button>
    </li>
</ul>

<!-- new Syntax --> <hr>

<ul>
    <p>new Syntax </p>
    @for(user of usersObj; track user) {
        <li>{{ user.id }} - {{user.name}} -{{ user.age }} - {{ user.email }}</li>
    }
</ul>

<!-- change detection -->
 <button (click)="addNewUser()">Add New User</button>


