<h2>Submit Form</h2>
<form #myForm="ngForm" (ngSubmit)="formSubmit(myForm)">
    <div>
        <input type="text" name="name" ngModel required #name="ngModel">
        <span>name</span>
        <!-- <input type="text" name="username" [(ngModel)]="user.username" required> -->
    </div>
    <div>
        <input type="email" name="email" ngModel required #email="ngModel">
        <span>email</span>
    </div>
    <div>
        <button type="submit">submit</button>
        <button type="button" (click)="resetValue(myForm)"> reset </button>
        <button type="button" (click)="setDefault(myForm)"> Default </button>
    </div>
    
</form>